# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

In [1]:
#Import the libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/hw/titanic_training_dataset_v2.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(5)
memory usage: 83.7+ KB

# 1) Load data & review the data

<font color='blue'>Q1) What is the shape of this dataset? (rows & columns)</font>

In [5]:
df.shape

(891, 12)

In [6]:
# Q1) What is the shape of this dataset? (rows & columns)
# answer:
print(f'(row, column) = ({df.shape[0]}, {df.shape[1]})')

(row, column) = (891, 12)

# 2) Drop unqualified variables

*   Drop variables with missing > 50%
*   Drop categorical variables with flat values > 70% (variables with the same value in the same column)

<font color='blue'>Q2) How many columns do we have left?</font>

## Drop variables with missing > 50%

In [7]:
# review data
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S

In [8]:
# 1.) Drop variables with missing > 50%

half_count = round( df.shape[0] / 2 )

df = df.dropna(thresh=half_count, axis=1)

In [9]:
df.head(3) # "Cabin" column is removed

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,S

## Drop flat-value variables

In [10]:
# 2.) Drop flat-value variables that have the same value more than 70% of the total data rows.
#     (check all variables not only categorical variables)
df.dtypes

PassengerId      int64
Survived       float64
Pclass         float64
Name            object
Sex             object
Age            float64
SibSp          float64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [11]:
threshold = 0.70
total_rows = df.shape[0]

print(f'threshold = {threshold}')
print(f'total_rows = {total_rows}')

threshold = 0.7
total_rows = 891

In [12]:
# check flat-value variables in categorical variables (dtype: object)
df.dtypes[ df.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Embarked    object
dtype: object

In [13]:
# example : check flat-value variables of "Sex" column
df['Sex'].value_counts() / total_rows

male      0.647587
female    0.352413
Name: Sex, dtype: float64

In [14]:
df['Sex'].value_counts() / total_rows > threshold # threshold = 0.70

male      False
female    False
Name: Sex, dtype: bool

In [15]:
(df['Sex'].value_counts() / total_rows > threshold).sum() # so keep this column

0

In [16]:
# check flat-value variables for all variables

col_name = df.columns.tolist()
print(col_name)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked']

In [17]:
data = []
for col in col_name:
  count = (df[ col ].value_counts() / total_rows > threshold).sum()
  data.append( [col, count])

In [18]:
cols_exceed_thresh = pd.DataFrame(
    data = data,
    columns = ['col_name', 'count_exceed_thresh'],
)

display(cols_exceed_thresh)

       col_name  count_exceed_thresh
0   PassengerId                    0
1      Survived                    0
2        Pclass                    0
3          Name                    0
4           Sex                    0
5           Age                    0
6         SibSp                    0
7         Parch                    1
8        Ticket                    0
9          Fare                    0
10     Embarked                    0

In [19]:
# let's check "Parch" column to ensure

df['Parch'].value_counts() / total_rows # it shows that in "Parch" column has one value with greater than threshold (0.70)

0    0.760943
1    0.132435
2    0.089787
5    0.005612
3    0.005612
4    0.004489
6    0.001122
Name: Parch, dtype: float64

In [20]:
# so drop "Parch" column in order to flat-value variable

df.drop('Parch', axis=1, inplace=True)

print(df.columns.tolist())

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Ticket', 'Fare', 'Embarked']

In [21]:
# Q2) How many columns do we have left?
# answer:
len(df.columns)

10

# 3) Remove all rows with missing target (the variable "Survived")

<font color='blue'>Q3) How many rows do we have left?</font>

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Ticket       852 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     803 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 69.7+ KB

In [23]:
df.isnull().sum()

PassengerId      0
Survived        26
Pclass          63
Name            25
Sex              0
Age            177
SibSp           33
Ticket          39
Fare             0
Embarked        88
dtype: int64

In [24]:
df.dropna(subset=['Survived'], inplace=True)

In [25]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass          63
Name            25
Sex              0
Age            172
SibSp           33
Ticket          39
Fare             0
Embarked        87
dtype: int64

In [26]:
# Q3) How many rows do we have left?
# answer:
df.shape[0]

865

# 4) Handle outliers

For the variable “Fare”, replace outlier values with the boundary values


*   If value < (Q1 - 1.5IQR), relace with (Q1 - 1.5IQR)
*   If value > (Q3 + 1.5IQR), relace with (Q3 + 1.5IQR)

<font color='blue'>Q4) What is the mean of “Fare” after replacing the outliers (round 2 decimal points)?</font>

In [27]:
df['Fare'].head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [28]:
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

print(f'Q1 = {Q1}\nQ3 = {Q3}\nIQR = {IQR}\n')
print(f'Q1 - 1.5IQR = {lower_bound}')
print(f'Q3 + 1.5IQR = {upper_bound}')

Q1 = 7.8958
Q3 = 31.0
IQR = 23.1042

Q1 - 1.5IQR = -26.7605
Q3 + 1.5IQR = 65.6563

In [29]:
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 865, dtype: float64

In [30]:
# remove outliers

# If value < (Q1 - 1.5IQR), relace with (Q1 - 1.5IQR)
df['Fare'] = df['Fare'].apply(lambda x : lower_bound if x < lower_bound else x )

# If value > (Q3 + 1.5IQR), relace with (Q3 + 1.5IQR)
df['Fare'] = df['Fare'].apply(lambda x : upper_bound if x > upper_bound else x )

In [31]:
df['Fare']

0       7.2500
1      65.6563
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 865, dtype: float64

In [32]:
# show table
display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,A/5 21171,7.2500,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,PC 17599,65.6563,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,STON/O2. 3101282,7.9250,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,113803,53.1000,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.0,0.0,211536,13.0000,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.0,0.0,112053,30.0000,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1.0,W./C. 6607,23.4500,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.0,0.0,111369,30.0000,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.0,0.0,370376,7.7500,Q

In [33]:
# Q4) What is the mean of “Fare” after replacing the outliers (round 2 decimal points)?
# answer:
round(df['Fare'].mean(), 2)

24.04

# 5) Impute missing value



*   Show the number of missing values in each variable
*   Impute missing values with mean & mode
*   Show the number of missing values again after missing value imputation

<font color='blue'>Q5) Which variable has the largest number of missing values?</font>

In [34]:
# Show the number of missing values in each variable
df.isnull().sum()

PassengerId      0
Survived         0
Pclass          63
Name            25
Sex              0
Age            172
SibSp           33
Ticket          39
Fare             0
Embarked        87
dtype: int64

In [35]:
num_col = df.columns[(df.dtypes == 'int') | (df.dtypes == 'float')].tolist()
cat_col = df.columns[ df.dtypes == 'object' ].tolist()

print(num_col)
print(cat_col)

['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Fare']
['Name', 'Sex', 'Ticket', 'Embarked']

In [36]:
# Impute missing values with mode (for numerical variables)
df.fillna(df.mean(), inplace=True)

<ipython-input-36-6b1bf369272d>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [37]:
df.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Name           25
Sex             0
Age             0
SibSp           0
Ticket         39
Fare            0
Embarked       87
dtype: int64

In [38]:
df.mode()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
0,1,0.0,3.0,"Abbing, Mr. Anthony",male,29.892266,0.0,347082,65.6563,S
1,2,NaN,NaN,"Abbott, Mr. Rossmore Edward",NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,"Adahl, Mr. Mauritz Nils Martin",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
860,887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
861,888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
type(df.mode())

pandas.core.frame.DataFrame

In [40]:
type(df.mode().iloc[0]) # in case of df.mode() has many rows (many values) (for safety)

pandas.core.series.Series

In [41]:
# Impute missing values with mode (for categorical variables)
filtered_df = df.copy()

filtered_df.fillna(df.mode().iloc[0], inplace=True)

In [42]:
# Show the number of missing values again after missing value imputation
filtered_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [43]:
# Show Table
filtered_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Ticket,Fare,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.000000,1.0,A/5 21171,7.2500,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1.0,PC 17599,65.6563,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.000000,0.0,STON/O2. 3101282,7.9250,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1.0,113803,53.1000,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.000000,0.0,373450,8.0500,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,"Montvila, Rev. Juozas",male,27.000000,0.0,211536,13.0000,S
887,888,1.0,1.0,"Graham, Miss. Margaret Edith",female,19.000000,0.0,112053,30.0000,S
888,889,0.0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.892266,1.0,W./C. 6607,23.4500,S
889,890,1.0,1.0,"Behr, Mr. Karl Howell",male,26.000000,0.0,111369,30.0000,C
890,891,0.0,3.0,"Dooley, Mr. Patrick",male,32.000000,0.0,370376,7.7500,Q

In [44]:
# Q5) Which variable has the largest number of missing values?
# answer:
print('Age has the largest number of missing values with 172 missing values. (before imputation)')

Age has the largest number of missing values with 172 missing values. (before imputation)

# 6) Convert categorical to numeric values



*   Drop the variables “Name” & “Ticket”
*   For the variables “Sex” & “Embarked”, perform the dummy coding and drop the first level. Also, drop those original variables (“Sex” & “Embarked”)

<font color='blue'>Q6) How many columns do we have?</font>

In [45]:
filtered_df.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Ticket',
 'Fare',
 'Embarked']

In [46]:
# Drop the variables “Name” & “Ticket”
filtered_df.drop(['Name', 'Ticket'], axis=1, inplace=True)

In [47]:
filtered_df.columns.tolist()

['PassengerId',
 'Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Fare',
 'Embarked']

In [48]:
filtered_df.dtypes[ filtered_df.dtypes == 'object']

Sex         object
Embarked    object
dtype: object

In [49]:
filtered_df.head(3)

   PassengerId  Survived  Pclass     Sex   Age  SibSp     Fare Embarked
0            1       0.0     3.0    male  22.0    1.0   7.2500        S
1            2       1.0     1.0  female  38.0    1.0  65.6563        C
2            3       1.0     3.0  female  26.0    0.0   7.9250        S

In [50]:
# For the variables “Sex” & “Embarked”, perform the dummy coding and drop the first level.
# Also, drop those original variables (“Sex” & “Embarked”)

nominal_cols = ['Sex', 'Embarked']

dummy_df = pd.get_dummies(filtered_df[nominal_cols], drop_first=True)

filtered_df_with_dummy = pd.concat([filtered_df, dummy_df], axis=1)

filtered_df_with_dummy.drop(nominal_cols, axis=1, inplace=True)

In [51]:
# Show Table
display(filtered_df_with_dummy)

,PassengerId,Survived,Pclass,Age,SibSp,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,0.0,3.0,22.000000,1.0,7.2500,1,0,1
1,2,1.0,1.0,38.000000,1.0,65.6563,0,0,0
2,3,1.0,3.0,26.000000,0.0,7.9250,0,0,1
3,4,1.0,1.0,35.000000,1.0,53.1000,0,0,1
4,5,0.0,3.0,35.000000,0.0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...
886,887,0.0,2.0,27.000000,0.0,13.0000,1,0,1
887,888,1.0,1.0,19.000000,0.0,30.0000,0,0,1
888,889,0.0,3.0,29.892266,1.0,23.4500,0,0,1
889,890,1.0,1.0,26.000000,0.0,30.0000,1,0,0
890,891,0.0,3.0,32.000000,0.0,7.7500,1,1,0

In [52]:
# Q6) How many columns do we have?
# answer:
len(filtered_df_with_dummy.columns)

9

# 7) Partition data



*   Split train/test split with stratification using 70%:30% and random seed with 12345
*   Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

<font color='blue'>Q7) What is a proportion between survived (1) and died (0) in the training data?</font>

In [53]:
# show total data survived proportion

filtered_df_with_dummy['Survived'].value_counts()

0.0    533
1.0    332
Name: Survived, dtype: int64

In [54]:
filtered_df_with_dummy['Survived'].value_counts() / filtered_df_with_dummy.shape[0]

0.0    0.616185
1.0    0.383815
Name: Survived, dtype: float64

In [55]:
# Split train/test split with stratification using 70%:30% and random seed with 12345

from sklearn.model_selection import train_test_split

y = filtered_df_with_dummy.pop('Survived')
X = filtered_df_with_dummy

In [56]:
display(y)

0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
      ...
886    0.0
887    1.0
888    0.0
889    1.0
890    0.0
Name: Survived, Length: 865, dtype: float64

In [57]:
display(X) # "Survived" column pop out to y

,PassengerId,Pclass,Age,SibSp,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,3.0,22.000000,1.0,7.2500,1,0,1
1,2,1.0,38.000000,1.0,65.6563,0,0,0
2,3,3.0,26.000000,0.0,7.9250,0,0,1
3,4,1.0,35.000000,1.0,53.1000,0,0,1
4,5,3.0,35.000000,0.0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...
886,887,2.0,27.000000,0.0,13.0000,1,0,1
887,888,1.0,19.000000,0.0,30.0000,0,0,1
888,889,3.0,29.892266,1.0,23.4500,0,0,1
889,890,1.0,26.000000,0.0,30.0000,1,0,0
890,891,3.0,32.000000,0.0,7.7500,1,1,0

In [58]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y, test_size=0.30, random_state=12345)

In [59]:
# Show a proportion between survived (1) and died (0) in all data sets (total data (above), train, test)

In [60]:
# show y_train survived proportion

y_train.value_counts()

0.0    373
1.0    232
Name: Survived, dtype: int64

In [61]:
y_train.shape

(605,)

In [62]:
y_train.value_counts() / y_train.shape[0]

0.0    0.616529
1.0    0.383471
Name: Survived, dtype: float64

In [63]:
# show y_test survived proportion

y_test.value_counts()

0.0    160
1.0    100
Name: Survived, dtype: int64

In [64]:
y_test.shape

(260,)

In [65]:
y_test.value_counts() / y_test.shape[0]

0.0    0.615385
1.0    0.384615
Name: Survived, dtype: float64

In [66]:
# For MyCourseVille Questions
# How many rows of training data do we have?
# How many rows of testing data do we have?

In [67]:
# How many rows of training data do we have?
y_train.shape[0]

605

In [68]:
# How many rows of testing data do we have?
y_test.shape[0]

260

In [69]:
# Q7) What is a proportion between survived (1) and died (0) in the training data?
# answer:
y_train.value_counts() / y_train.shape[0]

0.0    0.616529
1.0    0.383471
Name: Survived, dtype: float64